
html, body {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    overflow-x: hidden; 
}

.carousel {
    margin-bottom: 60px;
    min-height: 500px;
}

.carousel-caption {
    z-index: 10;
    text-align: left;
    top: 70px;
    right: 10%;
    left: 10%;
    font-size: 22px;
}

.carousel .item {
    height: 500px;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0
    left: 0;
    min-width: 100%;
    height: 500px;
}

.server-img {
    width: 100%;
}

.feature-list li {
    list-style: none;
    text-align: left;
}